p{
    font-size: 10pt;
    color: rgb(87, 88, 93);
}

/*---navbar---*/
.icon{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}

.header-container{
    display: none;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.logo a:hover{
    color: #000;
}

/*navbar-desktop*/
@media only screen and (min-width:480px) {
    .icon{
        display: none;
    }

    .header-container{
        height: 64px;
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav a{
        text-decoration: none;
        margin: 0 16px;
        color: black;
    }
}

/*---banner section---*/
.banner-container{
    background-color: rgb(236, 239, 239);
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text{
    padding: 32px 16px;
}

#text-h2{
    color: rgb(65, 60, 60);
    font-size: 24pt;
    margin: 0 0 32px 0;
}

#text-h5{
    color: rgb(87, 88, 93);
    margin: 0 0 24px 0;
}

/*To Do: set break point*/

.btn-secondary{
    width: 100%;
    border-radius: 0%;
}

/*banner-desktop*/
@media only screen and (min-width:480px) {
    .banner-container{
        display: flex;
        padding: 32px 24px;
    }

    .banner-img{
        width: 60%;
    }

    .banner-text{
        width: 30%;
        padding: 100px 50px;
    }
}

/*---info section---*/
.info-container{
    width: 100%;
    padding: 16px 16px 32px;
}

.info-main{
    display: none;
}

.info-mobile a{
    text-decoration: none;
}

.info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-text{
    padding: 16px;
}

.info-text .main-text, p{
    margin: 8px 0;
}

.info-desktop{
    display: none;
}

/*info-desktop*/
@media only screen and (min-width:480px) {
    .info-container{
        display: flex;
        padding: 0 0 0 24px;
    }

    .info-main{
        width: 60%;
        display: inline-block;
        padding: 32px 24px;
    }

    .main-img{
        padding: 0 32px 24px 0;
    }

    .info-main img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info-mobile{
        display: none;
    }

    .info-desktop{
        width: 40%;
        padding: 16px 0 0 0;
        display: inline-block;
    }

    .info-item{
        display: flex;
    }

    .info-item:hover{
        background-color: rgb(207, 204, 204);
    }

    .info-img{
        width: 35%;
        padding: 16px;
    }
    
    .info-text{
        width: 65%;
    }

    .info-text a{
        text-decoration: none;
    }

    .main-text a{
        text-decoration: none;
        color: #000;
    }
    
    .main-text a:hover{
        color: #000;
    }
}

/*---learning section---*/
.learning-container{
    padding: 32px 16px;
}

.section-header{
    margin: 0 0 32px;
    text-align: center;
}

.course{
    padding: 16px 0 24px 16px;
    margin: 8px;
    background-color: rgb(223, 223, 223);
}

.learning-desktop{
    display: none;
}

/*learning-desktop*/
@media only screen and (min-width:480px) {
    .learning-container{
        padding: 32px 72px;
        background-color: rgb(236, 239, 239);
    }

    .learning-mobile{
        display: none;
    }

    .learning-desktop{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap:24px;
    }

    .course-text{
        background-color: #fff;
        padding: 16px;
    }

    .course-text > p{
        padding: 8px 0 0 0;
    }

    .course-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .grid-item1{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .grid-item3{
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-item5{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .grid-item6{
        grid-row: 2/3;
        grid-column: 3/4;
    }
}

/*---exhibit section---*/

.player{
    text-align: center;
}

.player video{
    width: 100%;
    object-fit: cover;
    padding: 0 0 24px;
}

.exhibit-desktop, .urban{
    display: none;
}

/*exhibit desktop*/
@media only screen and (min-width:480px) {
    .section-exhibit{
        padding: 32px 24px;
    }

    .exhibit-container{
        display: flex;
    }

    .YT{
        width: 60%;
        padding: 0 24px 0 0;
    }

    .urban{
        display: inline-block;
    }

    .exhibit-desktop{
        width: 40%;
        display: inline-block;
    }

    .exhibit-item{
        display: flex;
    }

    .exhibit-item:hover{
        background-color: rgb(207, 204, 204);
    }
}

/*---footer---*/
.footer{
    padding: 16px;
}

.term{
    display: none;
}

@media only screen and (min-width:480px) {
    .footer{
        display: flex;
        justify-content: space-between;
    }

    .term{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .term a{
        text-decoration: none;
        margin: 0 16px;   
    }
}


